body {
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    font: normal 20pt Arial;
    margin: 10px;
}

.gen {
    color: #066a75;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 37px;
    width: 100%;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    outline: none;
}

.uf {
    color: #066a75;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 37px;
    width: 100%;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    outline: none;
}


/* CSS reset */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* content que contem os formulários */

.content {
    width: 500px;
    margin: 0px auto;
    position: relative;
}


/* formatando o cabeçalho dos formulários */

h1 {
    font-size: 48px;
    color: #066a75;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

p {
    margin-bottom: 15px;
}

label {
    color: #405c60;
    position: relative;
}

 ::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input {
    outline: none;
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}


/*estilo do botão submit */

input[type="submit"] {
    width: 100%!important;
    cursor: pointer;
    background: #3d9db3;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #4ab3c6;
}

#cadastro {
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189, 0.8);
}