body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: normal 20pt Arial;
}

.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 50px;
}