<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/pata.png">
</head>

<body>
    <form class="form" action="/auth/login"  method="POST">
        <div class="card">
            <div class="card-top">
                <img class="imglogin" src="/logo-pronta.png" alt=""><br><br>
                <h3 class="title">Faça seu Login</h3>
            </div>
            <div class="card-group">
                <label>Email:</label>
                <input type="text" name="email" placeholder="Digite seu nome de usuário" required>
            </div>
            <div class="card-group">
                <label>Senha:</label>
                <input type="password" name="senha" placeholder="Digite sua senha" required>
            </div>
            <div class="card-group btn">
                <button type="submit">LOGIN</button>
            </div>
            <button onclick="location.href='/register'" type="button">
         Cadastre-se</button>
        </div>
    </form>
</body>

</html>