<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/pata.png">
        <title>Registro</title>
        <link rel="stylesheet" href="/styles.css">
        <script src="/mascaras.js"></script>
    </head>

    <body>
        <div class="container">

            <div class="content">
                <div id="cadastro">
                    <form action="/auth/register" method="post">
                        <h1>Cadastro</h1>

                        <p>
                            <label for="nome_cad">Nome Completo</label>
                            <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Seu nome" />
                        </p>

                        <p>
                            <label for="email_cad">Email</label>
                            <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@email.com" />
                        </p>

                         <p>
                            <label for="senha_cad">Senha</label>
                            <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="1234" minlength="8"/><br>
                        </p>
                        <p>
                            <label>Confirmar senha</label>
                            <input id="confirmaSenha" type="password" name="confirmsenha" placeholder="Confirma Senha"  minlength="8" required>
                            <span class="hide" id='message'></span>
                        </p>
                        <p>
                            <label>Data de nascimento</label>
                            <input type="text" name="Data" placeholder="00/00/0000" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" onkeydown="javascript: fMasc( this, mData );" maxlength="10" required>
                        </p>
                        <p>
                            <label>RG</label>
                            <input type="text" name="RG" placeholder="Número do RG" maxlength="30" required>
                        </p>
                        <p>
                            <label>CPF</label>
                            <input type="text" name="CPF" placeholder="111.111.111-11" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" onkeydown="javascript: fMasc( this, mCPF );" maxlength="14" required>
                        </p>
                        <p>
                            <label for="Gênero">Gênero</label><br>
                            <select class="gen" name="Gênero">
                        <option selected>Selecione</option>
                        <option>Masculino</option>
                        <option>Feminino</option>
                    </select>
                        </p>
                        <p>
                            <label for="phone">Celular</label>
                            <input type="tel" id="celular" name="celular" placeholder="(DDD) 91234-5678" pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}" onkeydown="javascript: fMasc( this, mCelular );" maxlength="15" required>
                        </p>
                        <p>
                            <label>Cidade</label>
                            <input type="text" name="cidade" placeholder="Cidade" required>
                        </p>
                        <p>
                            <label>CEP</label>
                            <input type="text" name="CEP" placeholder="11111-111" pattern="[0-9]{5}-[0-9]{3}" onkeydown="javascript: fMasc( this, mCEP );" maxlength="9" required>
                        </p>
                        <p>
                            <label for="UF">UF</label>
                            <select class="uf" name="UF">
                        <option selected>Selecione</option>
                        <option>AC</option>
                        <option>AL</option>
                        <option>AM</option>
                        <option>AP</option>
                        <option>BA</option>
                        <option>CE</option>
                        <option>DF</option>
                        <option>ES</option>
                        <option>GO</option>
                        <option>MA</option>
                        <option>MG</option>
                        <option>MS</option>
                        <option>MT</option>
                        <option>PA</option>
                        <option>PB</option>
                        <option>PE</option>
                        <option>PI</option>
                        <option>PR</option>
                        <option>RJ</option>
                        <option>RN</option>
                        <option>RO</option>
                        <option>RR</option>
                        <option>RS</option>
                        <option>SC</option>
                        <option>SE</option>
                        <option>SP</option>
                        <option>TO</option>
                    </select>
                        </p>
                        <p>
                            <label>Endereço</label>
                            <input type="text" name="End" placeholder="Endereço" required>
                        </p>
                        <p>
                            <label>Número</label>
                            <input type="text" name="Número" placeholder="Número" required>
                        </p>
                        <p>
                            <label>Bairro</label>
                            <input type="text" name="bairro" placeholder="Bairro" required>
                        </p>
                        <p>
                            <label>Complemento</label>
                            <input type="text" name="Comp" placeholder="Complemento">
                        </p>
                        <input type="submit" id="botao" value="CADASTRAR" />
                    </form>
                    
                </div>
            </div>
        </div>
        <script src="/script.js"></script>
    </body>

</html>