<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="formulário"><h1>Formulário de cadastro</h1></div>
    <div class="conteudo">
        <form action="/auth/register" method="POST">
            <div class="nome">
                <label>Nome Completo:</label>
                <input type="text" name="nome" placeholder="Nome Completo" required>
                <label for="Gênero">Gênero:</label>
                <select class="gen" name="Gênero">
                    <option selected>Selecione</option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                </select><br><br>      
            </div>
            <div class="info">
                <label>Data de nascimento:</label>
                <input type="text" name="Data" placeholder="00/00/0000" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" required>
                <label>RG:</label>
                <input type="text" name="RG" placeholder="11.111.111-1" pattern="[0-9]{2}.[0-9]{3}.[0-9]{3}-[0-9]{1}" required>
                <label>CPF:</label>
                <input type="text" name="CPF" placeholder="111.111.111-11" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" required><br><br>
            <div class="email">
                <label>Email:</label>
                <input type="email" name="Email" placeholder="Email" required>
                <label>Senha:</label>
                <input type="password" name="senha" placeholder="Senha" required>
                <label>Confirma senha:</label>
                <input type="password" name="confirmsenha" placeholder="Confirma Senha" required>
                <label for="phone">Celular:</label>
                <input type="tel" id="celular" name="celular" placeholder="(DDD)91234-5678" pattern="\([0-9]{3}\)[0-9]{5}-[0-9]{4}" required><br><br>
            </div>
            <div class="endereço">
                <label>Endereço:</label>
                <input type="text" name="End" placeholder="Endereço" required>
                <label>Número:</label>
                <input type="text" name="Número" placeholder="Número" required>
                <label>Bairro:</label>
                <input type="text" name="bairro" placeholder="Bairro" required><br><br>
                <label>Complemento:</label>
                <input type="text" name="Comp" placeholder="Complemento"><br><br>
            </div>
            <div class="cidade">
                <label>Cidade:</label>
                <input type="text" name="cidade" placeholder="Cidade" required>
                <label for="UF">UF:</label>
                <select class="uf" name="UF">
                    <option selected>Selecione</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AM</option>
                    <option>AP</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MG</option>
                    <option>MS</option>
                    <option>MT</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>PR</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>RS</option>
                    <option>SC</option>
                    <option>SE</option>
                    <option>SP</option>
                    <option>TO</option>
                </select>    
                <label>CEP:</label>
                <input type="text" name="CEP" placeholder="11111-111" pattern="[0-9]{5}-[0-9]{3}" required><br><br>
            </div>
            <div class="save">
                <button type="submit">Salvar</button>
            </div>
        </form>
        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>
</body>
</html>