body {
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
}


/*navbar*/

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

header,
.navbar {
    background-color: #fff;
}

#logo {
    width: 80px;
    margin-left: 5%;
}

#texto-Pets {
    font-size: 55px;
    font-family: 'Crimson';
    margin-left: 10px;
    color: #26033d;
    text-decoration: underline rgb(103, 143, 255);
}

.navbar-brand {
    font-size: 75px;
    font-family: 'Crimson';
    padding: 0;
    color: black;
}

.nav-links {
    font-size: 30px;
    font-family: 'Crimson';
    padding: 0;
    color: black;
    margin: 0 5px;
    display: flex;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a:hover,
.navbar-brand:hover {
    color: #29d1ff;
    background-color: #cecece;
    border-radius: 16px;
    box-shadow: 0px 0px 3px gray;
    text-shadow: 1px 1px 1px gray;
}

.nav-link {
    color: black;
}

input,
textarea {
    padding: 10px;
    display: block;
    width: 90%;
}


/*carousel*/

#slides .carousel-inner,
#slides .carousel-item {
    height: 90vh;
}

#slides .carousel-caption {
    top: 50%;
    color: black;
}

#slides .carousel-caption h1 {
    font-weight: bold;
}